body {
    margin: 0;
    padding: 0;
}
.TL {
    height: 50px;
}
.TL, .TL div {
    position: absolute; 
}
.CL {
    width: 100%;
    height: 20px; /* 30px */
    background: #333;
    border-bottom: #666;
    overflow: hidden;
}
.CL div {
    float: left;
    position: relative; 
}
.CL span {
    position: relative;
    display: inline-block;
}
.CL .retract {
    width: 5px;
    height: 100%;
    background: #FFA218;
    cursor: pointer;
    z-index: 1;
}
.CL .right.retract {
    right: 0;
    position: absolute;
}
.CL .TC {
    white-space: nowrap;
    position: absolute;
    left: 5px;
}
.CL.dg {
    color: #eee;
    font: 11px 'Lucida Grande', sans-serif;
    text-shadow: 0 -1px 0 #111;
}
.span .band div {
    height: 5px;
    border-left: #666 1px solid;
    margin-left: -1px;
}
.span .band div.first {
    height: 8px;
    border-left: #FFF 1px solid;
}
.span .band div.wait {
    height: 5px;
    border-left: #000 1px solid;
}
.span div {
    width: 100%;
}
.track {
    position: absolute !important;
    height: 20px;
    width: 100%;
    top: 0px;
}
.locator {
    height: 100px;
    width: 1px;
    position: absolute !important;
    border-left: 1px solid #FFA218;
    margin-left: -1px;
}
.output {
    position: absolute; bottom: 10px;
}
